@{
    ViewData["Title"] = "About Learn";
}
<h2>@ViewData["Title"]</h2>

<p>We share <strong>ideas</strong> and <em>experiences</em> to learn from each other. We believe every one has something unique about them and if they share it with others everybody can benefit.</p>
