@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    1200 University Blvd<br />
    Tuscaloosa, AL 35401<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@learn.com">support@learn.com</a>
</address>
